.leftMenu {
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
    display: flex;
    flex-direction: column;
}

.menuLogoBox {
    background: #001529;
    padding: 12px 0;
    text-align: center;
}

.menuLogo {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    cursor: pointer;
}